# Virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc

# Database
db.sqlite3
*.sqlite3

# IDE / Editor config
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Ignore compiled distribution
dist/
build/
*.egg-info
