name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run migrations & tests
        run: |
          python manage.py migrate
          python manage.py test
      - name: Generate coverage
        run: |
          pip install coverage
          coverage run --source='.' manage.py test
          coverage report -m
